.jumbotron{

background-color: white;
margin-bottom: 0;

}

.bg-secondary{


background-color: rgb(194, 193, 193) !important;

}

main{

border-top: 1px solid #ccc;
padding: 10px;


}