.jumbotron{

    background-color: rgb(0, 0, 0);
    color:#fff
    
}
.class1{
    font-size: 22px;
    font-family: Verdana,Tahoma, sans-serif;
    color: white;
    padding-left: 10px;

}
