.fontsize1{

    font-size: 70px;
}

.fontsize2{

    font-size: 30px;
}

.bgorange{
    background-color: orange;
}


.textcolor1{

    color: rgb(49, 49, 156);
}

.textcolor2{

    color: crimson;
}